*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*
PALETA DE COLORES:
ROJO: #EB8965
MORADO: #AE55F2
AZUL: #58CADB
VERDE: #9EF255
AMARILLO: #E8AE51
*/
/* BODY */
body{
    padding: 0;
    margin: 0;
}
/* AFECTANDO A TODOS LOS MODALES */
.modal-content{
    background-image: linear-gradient(to right,#EB8764,#E8AD51) !important;
    color: white;
}
/* HEADER */
header{
    height: 10vh;
    box-sizing: border-box;
    background-image:linear-gradient(to right,#EB8764,#E8AD51);
    background-size: cover;
    background-blend-mode: soft-light;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
nav label{
    font-weight: bold;
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
}
/* CONTENEDOR DEL USUARIO */
#header-usuario{
    display: flex;
    align-items: center;
    margin-left: 20rem;
    color: white;
    position: relative;
}
#header-usuario img{
    z-index: 1;
    height: 50px;
    margin-right: 1rem;
}
nav section div:first-of-type p:last-of-type{
    text-align: center;
}
#header-usuario p{
    margin: 0%;
}
#header-usuario p + p{
    color: greenyellow;
}
/* EDITANDO Y POSICIONANDO LOS CIRCULOS DEL USUARIO */
#circle{
    z-index: 2;
    background-color: white;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 2.4rem;
    left: 2rem;
}
#circle::before{
    z-index: -20;
    content: "";
    background-color: rgb(154, 253, 5);
    border-radius: 100%;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 2.1px;
    left: 2.1px;
}
/* DIV LOGIN */
#login{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* FORM DE LOGIN */
[name="form_login"]{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px rgb(177, 177, 177) solid;
    padding: 2rem;
    border-radius: 20px;
    background-color: #AE55F2;
    color: white;
}
/* MODAL DE LOGIN */
#JSONLabel{
    text-align: center;
    margin: 1rem 0 0 0;
}
.modal-header{
    padding-bottom: 0 !important;
}
/* DIV DATOS */
#datos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* MENSAJES */
#mensajes{
    background-color: #58CADB;
    color: white;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
    position: absolute;
    top: 5rem;
    left: 2rem;
}
/* CONTAINER DE LA SECCION */
#container-seccion{
    width: 50%;
    margin-top: 5rem;
}
/* FORMULARIO DE ALUMNOS */
#form-alumnos{
    width: 40%;
    margin-top: 5rem;
}
/* BOTON TERMINAR */
#terminar{
    position: absolute;
    top: 15rem;
    left: 7rem;
}
/* ASIDE */
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AF55F2;
    padding: 1.8rem;
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 4rem;
    right: 2rem;
}
aside input{
    margin-top: 1rem;
}